<div class="content_edit">
  <img [src]="logoBank" class="item_logo" [alt]="">
  <form class="style_form" [formGroup]="editProductForm">
    <div class="container_edit">

      <div class="title_form">
        <h1><strong>Formulario de actualización</strong> </h1>

      </div>
      <hr class="line_edit">
      <div class="section_formulario">

        <div class="edit_section">
          <div class="col-sm-5 input_text1">
            <label class="label_inline">ID</label>
            <input type="text"
              [ngClass]="{'input-error': editProductForm.controls['idProduct'].touched && editProductForm.controls['idProduct'].invalid}"
              formControlName="idProduct" placeholder="" class="form-control">
          </div>
          <div class="col-sm-5 input_text2">
            <label class="label_inline">Nombre del producto</label>
            <input type="text" class="form-control"
              [ngClass]="{'input-error': editProductForm.controls['nombreProducto'].touched && editProductForm.controls['nombreProducto'].invalid}"
              formControlName="nombreProducto" placeholder="">
            <span *ngIf="isValidField('nombreProducto')" class="form-text text-danger">
              El campo Nombre de Producto es invalido
            </span>
          </div>
        </div>

        <div class="edit_section">
          <div class="col-sm-5 input_text3">
            <label class="label_inline">Descripción</label>
            <input type="text"
              [ngClass]="{'input-error': editProductForm.controls['descripcion'].touched && editProductForm.controls['descripcion'].invalid}"
              formControlName="descripcion" placeholder="" class="form-control">
            <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
              este campo es requerido
            </span>
          </div>

          <div class="col-sm-5 input_text4">
            <label class="label_inline">Logo</label>
            <input type="text"
              [ngClass]="{'input-error': editProductForm.controls['logo'].touched && editProductForm.controls['logo'].invalid}"
              formControlName="logo" placeholder="" class="form-control ">
            <span *ngIf="isValidField('logo')" class="form-text text-danger">
              este campo es requerido
            </span>
          </div>
        </div>

        <div class="edit_section">
          <div class="col-sm-5 input_text5">
            <label class="label_inline">Fecha liberacion</label>
            <input type="date" [ngClass]="{'input-error': editProductForm.controls['fechaLiberacion'].touched && editProductForm.controls['fechaLiberacion'].invalid}" formControlName="fechaLiberacion" (input)="functionCapturefecha($event)" [min]="date" class="form-control">
            <span *ngIf="isValidField('fechaLiberacion')" class="form-text text-danger">
              Campo Fecha de liberacion invalido!
            </span>
          </div>

          <div class="col-sm-5 input_text6">
            <label class="label_inline">Fecha revisión</label>
            <input type="text"
              [ngClass]="{'input-error': editProductForm.controls['fechaReestructuracion'].touched && editProductForm.controls['fechaReestructuracion'].invalid}"
              formControlName="fechaReestructuracion" placeholder="" class="form-control">
          </div>
        </div>


        <div class="edit_button">
          <div class="btn_reiniciar">
            <button type="button" class="button_reiniciar" (click)="cleanForm()">Reiniciar</button>
          </div>

          <div class="btn_enviar">
            <button type="button" (click)="onSubmit()" class="button_enviar">Enviar</button>
          </div>
        </div>

      </div>

    </div>

  </form>

  <div *ngIf="showModal">
    <app-modal-confirmation [message]="messageModal"></app-modal-confirmation>
  </div>

  <div *ngIf="modalErrorShow">
    <app-modal-error></app-modal-error>
  </div>
</div>
