<div class="overlay">
  <div class="popup">
    <div class="header">
      <h3>{{message.message}}</h3>
    </div>
    <hr class="line_modal">
    <div *ngIf="typeModalDelete; else confirm">
      <div class="body">
        <button type="button" (click)="closedModal()" class="button_cancelar">Cancelar</button>
        <button type="button" (click)="confirmModal()" class="button_confirmar">Confirmar</button>
      </div>
    </div>

    <ng-template #confirm>
      <div class="body_confirm">
        <button type="button" (click)="closedModal()" class="button_cancelar">OK</button>
      </div>
    </ng-template>

  </div>
</div>
