.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.item_logo {
  width: 15rem;
  padding: 2rem 0;
}

.container {
  background-color: #EEEDED;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: grid;


  .conten_table {
    width: 100%;
    margin: 2rem 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    border-radius: 10px;
  }

  .card_item {
    overflow: auto;
    display: grid;
    grid-template-columns: auto;
  }
}

.table_product {
  margin: 0 3rem;
}

.footer_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.style_form {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 2rem;
}

img {
  width: 3rem;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  --bs-table-bg: none;
}

.select-record {
  display: flex;
}

.section_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 2rem 0 2rem;
}

.btn_agregar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-menu {
  --bs-dropdown-min-width: 3rem;
}

.table>thead {
  background-color: #f4f4f4;
}

.button_Add {
  display: block;
  background: #FFD200;
  width: 20%;
  height: 10vh;
  color: black;
  font-family: var(--font);
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 0 2px 10px -4px rgba(0, 0, 0, .5);
}

.select-record {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .table {
    border: 0px;
  }

  .table caption {
    font-size: 22px;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }

  .table th,
  .table td {
    font-size: 12px;
  }

  .table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }

  .table td:last-child {
    border-bottom: 0px;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }

}
