<div class="content_register">
  <img [src]="logoBank" class="item_logo" [alt]="">
  <form class="style_form" [formGroup]="registerProductForm">
    <div class="container_register">
      <div class="title_form">
        <h1><strong>Formulario de registro</strong> </h1>
      </div>
      <hr class="line_register">
      <div class="section_formulario">

        <div class="register_section">
          <div class="col-sm-5 input_text">
            <label class="label_inline">ID</label>
            <input type="text" [ngClass]="{'input-error': registerProductForm.controls['idProduct'].touched && registerProductForm.controls['idProduct'].invalid}" formControlName="idProduct" placeholder="" class="form-control">
            <span *ngIf="isValidField('idProduct')" class="form-text text-danger">
              ID no valido!
            </span>
          </div>
          <div class="col-sm-5 input_text">
            <label class="label_inline">Nombre del producto</label>
            <input type="text" class="form-control" [ngClass]="{'input-error': registerProductForm.controls['nombreProducto'].touched && registerProductForm.controls['nombreProducto'].invalid}" formControlName="nombreProducto" placeholder="">
            <span *ngIf="isValidField('nombreProducto')" class="form-text text-danger">
              El campo Nombre de Producto es invalido
            </span>
          </div>
        </div>


        <div class="register_section">
          <div class="col-sm-5 input_text">
            <label class="label_inline">Descripción</label>
            <input type="text" [ngClass]="{'input-error': registerProductForm.controls['descripcion'].touched && registerProductForm.controls['descripcion'].invalid}" formControlName="descripcion" placeholder="" class="form-control">
            <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
              este campo es requerido
            </span>
          </div>

          <div class="col-sm-5 input_text">
            <label class="label_inline">Logo</label>
            <input type="text" [ngClass]="{'input-error': registerProductForm.controls['logo'].touched && registerProductForm.controls['logo'].invalid}" formControlName="logo" placeholder="" class="form-control">
            <span *ngIf="isValidField('logo')" class="form-text text-danger">
              este campo es requerido
            </span>
          </div>
        </div>


        <div class="register_section">
          <div class="col-sm-5 input_text">
            <label class="label_inline">Fecha liberacion</label>
            <input type="date" [ngClass]="{'input-error': registerProductForm.controls['fechaLiberacion'].touched && registerProductForm.controls['fechaLiberacion'].invalid}" formControlName="fechaLiberacion" (input)="functionCapturefecha($event)" [min]="date" class="form-control">
            <span *ngIf="isValidField('fechaLiberacion')" class="form-text text-danger">
              Campo Fecha de liberacion invalido!
            </span>
          </div>

          <div class="col-sm-5 input_text">
            <label class="label_inline">Fecha revisión</label>
            <input type="text" [ngClass]="{'input-error': registerProductForm.controls['fechaReestructuracion'].touched && registerProductForm.controls['fechaReestructuracion'].invalid }" formControlName="fechaReestructuracion"  class="form-control">
            <span *ngIf="isValidField('fechaReestructuracion')" class="form-text text-danger">
              Campo Fecha de reestructuración no puede ser menor a 1 año de la Fecha de liberacion
            </span>
          </div>
        </div>



        <div class="register_button">
          <div class="btn_reiniciar">
            <button type="button" class="button_reiniciar" (click)="cleanForm()">Reiniciar</button>
          </div>

          <div class="btn_enviar">
            <button type="button" (click)="onSubmit()" class="button_enviar">Enviar</button>
          </div>
        </div>


      </div>

    </div>
  </form>

  <div *ngIf="modalErrorShow">
    <app-modal-error></app-modal-error>
  </div>
</div>

